
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPowerHistoryLabel">Create or edit a PowerHistory</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="powerHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_timestamp">Timestamp</label>
            <input id="field_timestamp" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="powerHistory.timestamp" is-open="datePickerForTimestamp.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForTimestampOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_power">Power</label>
            <input type="number" class="form-control" name="power" id="field_power"
                    ng-model="powerHistory.power"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_current">Current</label>
            <input type="number" class="form-control" name="current" id="field_current"
                    ng-model="powerHistory.current"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
